manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main        # v0.3-branch → main に変更
      import: app/west.yml
  self:
    path: config